*{
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}
.contenedor{
    position: relative;
    margin:auto;
    width:100%;
    height: auto;
}
.fila{
    position: relative;
    margin:auto;
    width:100%;
    height: auto;
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
    border: 1px solid black;
    padding: 20px;
}

.col-12{
    width:100%,
}


.col-6{
    width: 50%;
}

.col-4{
    width: 33.333333333%;
}


