$primary-color: rgb(90,89,28);
$secundary-color: rgb(224,124,31);
$tertiary-color: rgb(226,226,154);
$primary-text-color: rgb(63,38,1);
$quartery-color: orange;
$paragraph-size: 1.5em;
$font-stack: 'IBM Plex Sans", sans-serif';

@mixin flexCenter($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}

body{
    background-color: rgb(241, 208, 115);
    padding: 0;
    margin: 0;
    font-family: $font-stack;
}

nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;

    p{
        font-size: 1.5rem;
        padding-left: 30px;
    }

    .icons{
        display: flex;
        gap: 10px;
        @include buttonStyle;
    }
}

main{
    background-color: $primary-color;
}

article{
    width: auto;
    color: $primary-text-color;
    @include flexCenter(row, space-between, center );
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;

    .objetivo-section{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 50px;
    }

    h2{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    p{
        font-size: $paragraph-size;
    }

    button{
        width: 12vw;
        padding: 20px;
        background-color: $quartery-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1em;
    }

    
    img{
        width: 25vw;
        border-radius: 19px;
        margin-bottom: 20px;
    }
    
}

.product-section{
    width: auto;
    height: auto;
    background-color: rgb(214, 201, 176);
    padding: 60px;
    text-align: center;
}

.card-section1{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
    row-gap: 200px;

    .product-card{
        width: 14vw;
        height: 45vh;
        background-color: $secundary-color;
        color: $primary-text-color;
        padding: 20px;
        border-radius: 8px;
        text-align: center;

        .icons{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 12px;

            svg{
                width: 28px;
                height: 28px;
                stroke: olive;
                stroke-width: yellow;
            }
        }

        img{
            width: 200px;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
        }
        
    }
}

.card-section2{
    @extend .card-section1;
    .product-card{
        background-color: $tertiary-color;
        color: rgb(37, 51, 12);
    }
}

footer{
    $background: rgb(199,116,20);
    background-color: $background;
    width: 100%;
    height: 250px;
}